@charset "UTF-8";
body{
    background-color: rgb(57, 164, 231);
    font: normal 15px arial;
    color: white;
    
}
main{
    color: black;
    background-color: white;
    width: 400px;
    min-height: 100px;
    max-height: 400px;
    margin: auto;
    padding: 0 10px;
    border-radius: 10px ;
    border: solid 2px  rgba(49, 49, 49, 0.384);

}
h1{
    text-align: center;
}
footer{
    padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
div#foto{
    text-align:center;
}
div#res {
    min-height: 0px;
}
p#fem{
    text-align: center;
}
p#remova {
    margin: -21px 0px 7px;
}