@charset "UFT-8";
body{
    background-color: rgb(6, 112, 173);
}
h1{
    color: #ffffff;
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
}
section {
    background-color: white;
    padding: 5px;
    width: 430px;
    margin: auto;
    box-shadow: 1px 5px 5px 5px #00000036;
    border-radius: 10px;
}
footer{
    padding: 5px;
    color: white;
    font-size: 15pt;
    font-weight: lighter;
    text-align: center;
}
p {
    padding-left: 5px;
    margin-top: 2px;
}
input#txtfim{
    margin: 0px 0px 0px 11px;
}
select{
    width: 150px
}